<!DOCTYPE html>
<html lang="en">
<!--Inicio del Head-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS de boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
    <!--CSS del datatable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">

    <!--CSS propio-->
    <link href="/css/dashboard.css" rel="stylesheet" type="text/css">
    <title>Brandium</title>
</head>
<!--fin del Head-->
<!--Inicio del Body-->
<body>
    <!--Inicio del wrapper-->
    <!--La clase wrapper divide el body en secciones-->
    <div class="wrapper">
        <!--Inicio del header-->
        <div class="header">
            <nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-tm">
                
                <p><b><a href="/" style="text-decoration:none; color: black;">Brandium</a></b></p>
            </nav>
        </div>
        <!--Fin del header-->
        <!--Inicio de los filtros-->
        <div class="filter">
            <form class="form-group row card-block" action="/dashboard" method="GET" id="filter">
                <p>Filtros</p>
                <div class="row align-items-center">
                    <div class="col-auto">
                        <label class="option-filter-title">Marca</label>
                        <input name="marca" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="col-auto">
                        <label class="option-filter-title">Situación de la marca</label>
                        <select class="form-select" name="situacion">  
                            <option></option>
                            <!--Se valida si antes de cargar la página ya se han aplicado filtros y en caso de ser así selecciona la opción en el dropdown-->
                            <% situacion.forEach(function(s) { %>
                                <% if(filter.situacion && filter.situacion == s.situacion_marca) { %>
                                    <option selected value="<%= s.situacion_marca %>" ><%= s.situacion_marca %></option>
                                <% }else{ %>
                                    <option value="<%= s.situacion_marca %>"><%= s.situacion_marca %></option>
                                <% } %>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label class="option-filter-title">Número de Clasificación</label>
                        <select class="form-select" name="clasificacion">
                            <option></option>
                            <!--Se valida si antes de cargar la página ya se han aplicado filtros y en caso de ser así selecciona la opción en el dropdown-->
                            <% clasificacion.forEach(function(c) { %>
                                <% if(filter.clasificacion && filter.clasificacion == c.clasificacion_niza) { %>
                                    <option selected value="<%= c.clasificacion_niza %>"><%= c.clasificacion_niza %></option>
                                <% }else{ %>
                                    <option value="<%= c.clasificacion_niza %>"><%= c.clasificacion_niza %></option>
                                <% } %>                            
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label class="option-filter-title">Tipo de DPI</label>
                        <select class="form-select" name="dpi">
                            <option></option>
                            <!--Se valida si antes de cargar la página ya se han aplicado filtros y en caso de ser así selecciona la opción en el dropdown-->
                            <% dpi.forEach(function(c) { %>
                                <% if(filter.dpi && filter.dpi == c.tipo_dpi) { %>
                                    <option selected value="<%= c.tipo_dpi %>"><%= c.tipo_dpi %></option>
                                <% }else{ %>
                                    <option value="<%= c.tipo_dpi %>"><%= c.tipo_dpi %></option>
                                <% } %>  
                                
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label class="option-filter-title">Tipo de marca</label>
                        <select class="form-select" name="tipo_marca">
                            <option></option>
                            <!--Se valida si antes de cargar la página ya se han aplicado filtros y en caso de ser así selecciona la opción en el dropdown-->
                            <% tipo_marca.forEach(function(c) { %>
                                <% if(filter.tipo_marca && filter.tipo_marca == c.tipo_marca) { %>
                                    <option selected value="<%= c.tipo_marca %>"><%= c.tipo_marca %></option>
                                <% }else{ %>
                                    <option value="<%= c.tipo_marca %>"><%= c.tipo_marca %></option>
                                <% } %>  
                                
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label class="option-filter-title">Tipo de clase</label>
                        <select class="form-select" name="clase">
                            <option></option>
                            <!--Se valida si antes de cargar la página ya se han aplicado filtros y en caso de ser así selecciona la opción en el dropdown-->
                            <% clase.forEach(function(c) { %>
                                <% if(filter.clase && filter.clase == c.clase_marca) { %>
                                    <option selected value="<%= c.clase_marca %>"><%= c.clase_marca %></option>
                                <% }else{ %>
                                    <option value="<%= c.clase_marca %>"><%= c.clase_marca %></option>
                                <% } %>  
                                
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <!--Se valida si antes de cargar la página ya se han aplicado filtros y en caso de ser así selecciona la casilla-->
                            <% if(filter.contacto && filter.contacto == "on") { %>
                                <input class="form-check-input" type="checkbox" name="contacto" checked>
                            <% }else{ %>
                                <input class="form-check-input" type="checkbox" name="contacto">
                            <% } %> 
                            <label class="form-check-label">
                                Contacto
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-auto">
                        <label class="option-filter-title">Nombre del solicitante</label>
                        <input name="n_solicitante" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="col-auto">
                        <label class="option-filter-title">Municipio del solicitante</label>
                        <input name="m_solicitante" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <!--Se valida si antes de cargar la página ya se han aplicado filtros y en caso de ser así selecciona la casilla-->
                            <% if(filter.telefono_solicitante && filter.telefono_solicitante == "on") { %>
                                <input class="form-check-input" type="checkbox" name="telefono_solicitante" checked>
                            <% }else{ %>
                                <input class="form-check-input" type="checkbox" name="telefono_solicitante">
                            <% } %> 
                            <label class="form-check-label">
                                Teléfono del solicitante
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                             <!--Se valida si antes de cargar la página ya se han aplicado filtros y en caso de ser así selecciona la casilla-->
                            <% if(filter.correo_solicitante && filter.correo_solicitante == "on") { %>
                                <input class="form-check-input" type="checkbox" name="correo_solicitante" checked>
                            <% }else{ %>
                                <input class="form-check-input" type="checkbox" name="correo_solicitante">
                            <% } %> 
                            <label class="form-check-label">
                                Correo del solicitante
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-auto">
                        <label class="option-filter-title">Nombre del representante</label>
                        <input name="n_representante" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="col-auto">
                        <label class="option-filter-title">Municipio del representante</label>
                        <input name="m_representante" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                             <!--Se valida si antes de cargar la página ya se han aplicado filtros y en caso de ser así selecciona la casilla-->
                            <% if(filter.correo_representante && filter.correo_representante == "on") { %>
                                <input class="form-check-input" type="checkbox" name="correo_representante" checked>
                            <% }else{ %>
                                <input class="form-check-input" type="checkbox" name="correo_representante">
                            <% } %> 
                            <label class="form-check-label">
                                Correo del representante
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <!--Se valida si antes de cargar la página ya se han aplicado filtros y en caso de ser así selecciona la casilla-->
                            <% if(filter.telefono_representante && filter.telefono_representante == "on") { %>
                                <input class="form-check-input" type="checkbox" name="telefono_representante" checked>
                            <% }else{ %>
                                <input class="form-check-input" type="checkbox" name="telefono_representante">
                            <% } %> 
                            <label class="form-check-label">
                                Teléfono del representante
                            </label>
                        </div>
                    </div>
                </div>
                <input class="form-control" name="fsStart" type="hidden" value="<%= fsStart %>">
                <input class="form-control" name="fsEnd" type="hidden" value="<%= fsEnd %>">
                <input class="form-control" name="frStart" type="hidden" value="<%= frStart %>">
                <input class="form-control" name="frEnd" type="hidden" value="<%= frEnd %>">
                <button id="delete-filter" type="button" class="btn btn-danger">Eliminar filtros</button>
                <button id="filtrar" type="submit" class="ds-button">Filtrar</button> 
            </form>
        </div>
        <!--Fin de los filtros-->
        <!--Inicio del content-->
        <!--la clase content almacena el el datatable y los filtros que se pueden aplicar-->
        <div class="content">
            <!--Inicio de la tabla-->
            <table class="table" id="marcas" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" colspan="12">Marca</th>
                        <th scope="col" colspan="7">Solicitante</th>
                        <th scope="col" colspan="7">Representante</th>
                    </tr>
                    <tr>
                        <th scope="col">Número de solicitud</th>
                        <th scope="col">Número de registro</th>
                        <th scope="col">Nombre de la marca</th>
                        <th scope="col">Clasificación</th>
                        <th scope="col">Tipo de DPI</th>
                        <th scope="col">Tipo de marca</th>
                        <th scope="col">Clase</th>
                        <th scope="col">Productos y/o servicios</th>
                        <th scope="col">Situación</th>
                        <th scope="col">Fecha de solicitud</th>
                        <th scope="col">Fecha de registro</th>
                        <th scope="col">Fecha de vencimiento</th>
                        <th scope="col">nombre del solicitante</th>
                        <th scope="col">Teléfono del solicitante</th>
                        <th scope="col">Correo electrónico del solicitante</th>
                        <th scope="col">País del solicitante</th>
                        <th scope="col">Municipio del solicitante</th>
                        <th scope="col">Dirección del solicitante</th>
                        <th scope="col">Código postal del solicitante</th>
                        <th scope="col">nombre del representante</th>
                        <th scope="col">Teléfono del representante</th>
                        <th scope="col">Correo electrónico del representante</th>
                        <th scope="col">País del representante</th>
                        <th scope="col">Municipio del representante</th>
                        <th scope="col">Dirección del representante</th>
                        <th scope="col">Código postal del representante</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Se cargan los datos de la base de datos-->
                  <% marcas.forEach(function(marca) { %>
                    <tr>
                      <th scope="row"><%= marca.no_solicitud %></th>
                      <td><%= marca.no_registro %></td>
                      <td><%= marca.nombre_marca %></td>
                      <td><%= marca.clasificacion_niza %></td>
                      <td><%= marca.tipo_dpi %></td>
                      <td><%= marca.tipo_marca %></td>
                      <td><%= marca.clase_marca %></td>
                      <td><%= marca.producto_servicio %></td>
                      <td><%= marca.situacion_marca %></td>
                      <td><%= marca.fecha_solicitud %></td>
                      <td><%= marca.fecha_registro %></td>
                      <td><%= marca.fecha_vencimiento %></td>
                      <td><%= marca.nombre_solicitante %></td>
                      <td># <%= marca.telefono_solicitante %></td>
                      <td><%= marca.correo_solicitante %></td>
                      <td><%= marca.pais_solicitante %></td>
                      <td><%= marca.municipio_solicitante %></td>
                      <td><%= marca.direccion_solicitante %></td>
                      <td><%= marca.cp_solicitante %></td>
                      <td><%= marca.nombre_representante %></td>
                      <td># <%= marca.telefono_representante %></td>
                      <td><%= marca.correo_representante %></td>
                      <td><%= marca.pais_representante %></td>
                      <td><%= marca.ciudad_representante %></td>
                      <td><%= marca.direccion_representante %></td>
                      <td><%= marca.cp_representante %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
              <!--Fin de la tabla-->
        </div>
        <!--Fin del content-->
        <!--Inicio del footer-->
        <div class="footer">
            <p>pie de página</p>
        </div>
        <!--Fin del footer-->
    </div>
    <!--fin del wrapper-->

    <!-- jquery y bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- datatables con bootstrap -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>

    <!-- Para usar los botones -->
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>

    <!--Script para limpiar los filtros del datatable-->
    <script>
        $("#delete-filter").click(function() {
            var url = document.location + '';
            parm = '';
            elements = url.split('?')[1].split('&');
            for (let i = 0; i < elements.length; i++) {
                var element = elements[i].split('=');
                
                if (element[0] == 'fsStart' || element[0] == 'fsEnd' || element[0] == 'frStart' || element[0] == 'frEnd'){
                    parm =  parm + '&' + elements[i];
                }           
            }
            url = url.split('?')[0] + '?' + parm.substring(1);
            location.href=url
        });
    </script>
    <!--Script para configurar el datatable empleado-->
    <script>
        $(document).ready( function () {
        $('#marcas').DataTable({
            "processing": true,
            "orderClasses": false,
            "responsive": true,
            "fixedHeader": true,
            //Habilita la paginación en el datatable
            "paging": true,
            //Habilita la opción que permite modificar la cantidad de registros que se muestran por página en el datatable
            "lengthChange": true,
            //Se determina las opciones de distribución de registros
            "lengthMenu": [ [50, 100, 250, 500, -1], [50, 100, 250, 500, "Todos"] ],
            //Cantidad inicial que se mostran en el datatable la primera vez que se muestra
            "pageLength": 50,
            //Se deshabilito la funciónn de busqueda
            "searching": false,
            //Se deshabilito la funciónn de ordenamiento
            "ordering":  false,
            //Ajuste de los mensajes que se muestran en el datables
            "language": {
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty":      "Mostrando 0 a 0 de 0 registros",
                "emptyTable":     "No se encontraron resultados",
                "lengthMenu":     "Número de registros _MENU_",
                "paginate": {
                    "first":      "Inicio",
                    "last":       "Fin",
                    "next":       "Siguiente",
                    "previous":   "Anterior",
                    className: 'bg-secondary'
                }
            },
            //Configuración de las columnas del datable
            columnDefs: [
                {   
                    //Columnmas afectadas
                    targets: [0, 1, 4, 5, 9, 10, 11, 18, 25],
                    //La clase text-nowrap hace que el texto contenida en las celdas se muestre en un solo renglon
                    className: 'text-nowrap'
                }
            ],
            /*
            Se configura el acomodo de los elementos
            B-Botón
            l-Menú para determinar el número de registros por página
            i-información del datatable - número de registros que se estan mostrando
            p-paginación
            t-tabla
            */
            dom: 'Bliptip',
            //Configuración de los botones del datatable
            buttons:[
            {
                //Botón para exportar a excel los datos resultantes
                extend: "excel",
                header: true,
                text:'<span class="prueba">Exportar a Excel</span>',
                className:'ds-button',
                customize: function( xlsx ) {
                var sheet = xlsx.xl.worksheets['sheet1.xml'];
                
                $('row c[r^="A"]', sheet).attr( 's', '50' );
                $('row c[r^="N"]', sheet).attr( 's', '50' );
            }
            }
            ]
        });
        } );
    </script>
</body>
<!--Fin del Body-->
</html>